<!--

	Angular Pipe: SubmissionComponent
	
	Author: Paul Armstrong
	Description:
		This component represents the forum thread creation form.

-->

<div class="container">
	<h4>Create a thread</h4>
	<p>Please provide a <b>title</b> and <b>subtitle</b> for the submission.</p>
	<form>
		<input id="submission_title">
		<label for="submission_title">Thread title</label>
		<textarea id="submission_subtitle" class="materialize-textarea"></textarea>
		<label for="submission_subtitle">Thread subtitle</label>
	</form>
</div>