<!--

	Angular Pipe: SubmissionComponent
	
	Author: Paul Armstrong
	Description:
		This component represents the forum thread creation form.

-->

<div class="container">
	<h4>Create a thread</h4>
	<p>Please provide a <b>title</b> and <b>subtitle</b> for the submission.</p>
	
	<input [(ngModel)]="title" id="submission_title">
	<label for="submission_title">Thread title</label>
	<textarea [(ngModel)]="subtitle" id="submission_subtitle" class="materialize-textarea"></textarea>
	<label for="submission_subtitle">Thread subtitle</label>
	
	<br><br>
	<div *ngIf="title.length == 0">
		<a class="btn-large blue-grey darken-2 disabled">Submit</a>
	</div><div *ngIf="title.length > 0">
		<a class="btn-large blue-grey darken-2" (click)="submitForumThread()">Submit</a>
	</div>
</div>