<!--
	NavbarComponent
	
	Author: Paul Armstrong
	Description:
		This component represents the navbar at the top of the site.
	
-->

<nav>
	<div class="nav-wrapper blue-grey darken-2">
		<a routerLink="" class="brand-logo center hide-on-small-only"><span class="valign-wrapper">Discussion Forum</span></a>
		<a routerLink="" class="brand-logo center hide-on-med-and-up"><span class="flow-text valign-wrapper">Discussion Forum</span></a>
		<ul class="right">
			<li><a routerLink="/submission">
				<i class="material-icons left">add</i>
				<span class="hide-on-small-only">Create a thread</span>
			</a></li>
		</ul>
		<ul class="left">
			<li><a routerLink="">
				<i class="material-icons">arrow_back</i>
			</a></li>
		</ul>
	</div>
</nav>
